<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>944269691940-k0ia10tb582tja64ba3lnksmenu5ce8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944269691940-k0ia10tb582tja64ba3lnksmenu5ce8u</string>
	<key>API_KEY</key>
	<string>AIzaSyD57oHcDaqhX11nOvWVzkMOjO_aGwwZmR0</string>
	<key>GCM_SENDER_ID</key>
	<string>944269691940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilal.fakhro.StampCardEasy</string>
	<key>PROJECT_ID</key>
	<string>stampcardeasy-acbc3</string>
	<key>STORAGE_BUCKET</key>
	<string>stampcardeasy-acbc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944269691940:ios:2e497045c14a5021</string>
	<key>DATABASE_URL</key>
	<string>https://stampcardeasy-acbc3.firebaseio.com</string>
</dict>
</plist>